<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мониторинг беременности: настройка канала консультирования</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h4 style="margin-top: 15px; margin-bottom: 15px;">Мониторинг беременности: настройка канала консультирования</h4>

    <form method="POST">
        <div class="form-group">
            <strong>Неделя беременности:</strong>
            <input type="number" name="week" class="form-control" value="{{ contract.week() }}"/>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="is_born" {% if contract.is_born %} checked {% endif %}/>
                <label class="form-check-label">Женщина родила</label>
            </div>
        </div>

        <hr>
        <h5>Риски и симптомы</h5>

        {% for risk in risks %}
            <div class="form-group">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="risk_{{ risk.id }}" {% if risk in contract.risks%} checked {% endif %}/>
                    <label class="form-check-label">{{ risk.name }}</label>
                </div>
            </div>
        {% endfor %}

        <div class="form-group">
            <button class="btn-lg btn btn-success">Сохранить</button>
        </div>
    </form>
</div>
</body>
</html>